.current-user-reviews-container {
    /* display: flex;
    flex-direction: column; */
    margin-left: 50px;
}

.current-user-reviews-container h1 {
    color:orange;
}

.current-user-reviews-container img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

.current-user-revirews-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* word-wrap: normal; */
}

.current-user-review-tile {
    margin-top: 30px;
    margin-right: 15px;
    width: 405px;
}

.spot-image-name {
    color:brown;
    cursor: pointer;
}

.review-date-stars {
    display: flex;
    flex-direction: row;
}

.review-date {
    color: gray;
}

#separator-dot {
    margin: 0 5px;
}

#update-review-btn {
    background-color: orange;
    color: white;
    padding: 3px 10px;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: 2px 3px 3px grey;
    margin-right: 15px;
}

.manage-review-update-delete-btn {
    display: flex;
    flex-direction: row;
}
