form {
    display: grid;
}

.sign-up-form {
    min-width: 370px;
    min-height: 500px;
    padding-left: 15px;
    padding-right: 15px;
}

.sign-up-form > h2 {
    text-align: center;
}

.sign-up-form > label {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.sign-up-form > input {
    background-color: rgb(204, 219, 237);
    padding-left: 5px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.sign-up-form > label > div {
    color: red;
    font-size: 14px;
}

.red-btn {
    margin: 1em 0 1em;
    border-radius: 10px;
    border: none;
    height: 35px;
    font-size: 15px;
    color: white;
    background-color: rgb(242, 75, 75);
}

.red-btn:hover {
    font-weight: bold;
    box-shadow: 2px 2px 4px green;
}

.disabled {
    background-color: lightgray;
    cursor: not-allowed;
}
