#spot-list-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    margin-left: 50px;
    max-width: 2000px;
}

.spot-tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    min-width: 20em;
    margin: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.spot-tile:hover {
    cursor: pointer;
}

.spot-image {
    overflow: hidden;
    border-radius: 12px;
    height: 20em;
    width: 100%;
}

.image {
    max-height: 115%;
    min-height: 100%;
    max-width: 115%;
    min-width: 100%;
}

.spot-infomation {
    height: 4em;
}

.get-city-state-rating {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 5px 0px
}

.city-state {
    font-weight: bold;
}

.single-star {
    font-size: 15px;
    margin-right: 3px;
    color: orange;
}

.price-span {
    font-weight: bold;
}

.night-span {
    font-weight: 500;
}

/* media queries */
@media only screen and (min-width: 980px){
    #spot-list-container {
        margin-left: 5px;
    }
    .spot-tile {
        width: 31%;
    }
}

@media only screen and (min-width: 1280px){
    #spot-list-container {
        margin-left: 130px;
    }
    .spot-tile {
        width: 20%;
    }
}

/* @media only screen and (min-width: 1580px){
    .spot-title {
        width: 10%;
    }
} */
