.review-list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin-left: 30px;
}

.review-tile > h3 {
    font-style: italic;
}

.review-tile > h3 > span {
    margin-right: 5px;
}

.review-tile > h4 {
    font-weight:lighter;
    font-size: smaller;
    color: gray;
    margin-top: -16px;
    margin-bottom: -13px;
}

#create-review-btn {
    background-color: orange;
    color: white;
    padding: 3px 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 3px 3px gray;
    margin-top: 10px;
}

#create-review-btn:hover {
    font-weight: bold;
    box-shadow: 3px 3px 5px green;
}

.delete-update-btn-in-spot {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}
