
.spot-detail-container {
    max-width: 1600px;
    margin: 0 50px 30px 50px;
}

/* images */
.spot-image-container {
    display: flex;
    justify-content: space-around;
    max-height: 600px;
    width: 100%;
    margin: 0 50px 30px 0;
    border-radius: 30px;
    overflow: hidden;
}

#main-image {
    width: 49.5%;
    /* height: 100%; */
    margin-top: 5px;
    overflow: hidden;
}

#main-image img {
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
    cursor: zoom-in;
}

#sub-images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 600px;
    width: 50%;
    overflow: hidden;
    overflow: scroll;
}

.sub-images {
    height: 50%;
    width: 50%;
    overflow: hidden;
    cursor: zoom-in;
}

.sub-images img {
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 5px;
}

/* description-price */
#spot-callout-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* margin: 5px 30px; */
}

#spot-details-container {
    width: 67%
}

#spot-owner-info  {
    margin-top: -25px;
}

#spot-description {
    overflow-wrap: break-word;
    margin-right: 20px;
}

.spot-callout-info {
    border: 2px solid lightgray;
    border-radius: 10px;
    width: 330px;
    height: 117px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#price-reviews-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    width: 90%;
}

#spot-price h3 {
    display: inline;
    margin-right: 5px;
    font-size: larger;
}


.reserve-button {
    width: 280px;
    height: 35px;
    background-color: #FF5A5F;
    color: white;
    box-shadow: 3px 3px 5px gray;
    border: none;
    border-radius: 5px;
    border-color: lightgray;
}

.reserve-button:hover {
    font-weight: bold;
    box-shadow: 3px 3px 5px green;
}

#ave-rating {
    margin-left: 5px;
    margin-right: 5px;
}

#center-spot {
    margin-right: 5px;
}

.separator {
    /* width: 90%; */
    margin: 30px 0 30px 0;
    border-top: 1px solid gray;
}

/* position: fixed and width: 100vw; height: 100vh to create the full-screen overlay. */
.fullscreen-image-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999; /* Ensure full-screen overlay is above other content */
}

.fullscreen-image-container  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* the image will be scaled down proportionally to fit within the container, ensuring that it doesn't become distorted. */
}

/* .google-map-container {
    margin-left: 30px;
} */

.map-location {
    margin-bottom: 20px;
    font-size: 20px;
}


/* @media only screen and (min-width: 1000px) {
    .spot-detail-container {
        margin: 0 auto;
    }
} */
