/* TODO: Add sitewide styles */
body {
    margin: 100px 10px 40px 10px;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    box-sizing: border-box;
    background-color: white;
}

#root {
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
}

.notification-modal {
    padding: 20px;
    height: fit-content;
    max-width: 400px;
 }

 .notification-modal h1 {
     text-align: center;
     color: rgb(14, 99, 2);
 }

 .notification-modal h2 {
    text-align: center;
}
